/*-------------------------- 
      Global Styles
---------------------------*/
.gap-130 {
  column-gap: 130px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-white;
  font-family: $font-body;
  font-size: $body-font-size;
  color: $color-body;
  overflow-x: hidden;
  cursor: url("../img/cursor.png"), auto;
}

::selection {
  background-color: $color-secondary;
  color: $color-white;
}

a {
  text-decoration: none;
  color: $color-body;
  cursor: url("../img/cursor-push.png"), auto;

  @include prefix(transition, color 0.3s ease, webkit moz ms o);

  &:hover {
    color: $color-secondary;
    text-decoration: none;
  }
}

section {
  position: relative;
  padding-top: 70px;
  padding-bottom: 70px;
  @include xl-screens {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include md-screens {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @include xs-sm-screens {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

img {
  display: block;
  border: none;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-heading;
}

/*-------------------------
     RESET Default Styles
 --------------------------*/
* {
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button,
button:focus,
.form-control,
.form-control:focus {
  outline: none;
  background-color: transparent;
  @include prefix(box-shadow, none, webkit moz ms o);
}

textarea {
  resize: none;
}

select {
  background-color: transparent;
}

.container {
  margin: 0 auto;
  position: relative;
  clear: both;
  display: block;
  padding: 0 15px;
  max-width: 1720px;

  @include xxxl-screens {
    max-width: 1520px;
  }

  @include xxl-screens {
    max-width: 1320px;
  }

  @include xl-screens {
    max-width: 1140px;
  }

  @include lg-screens {
    max-width: 960px;
  }

  @include md-screens {
    max-width: 720px;
  }
}

@include xs-sm-screens {
  html,
  body {
    overflow-x: hidden;
  }
}

.container-sm {
  margin: 0 auto;
  position: relative;
  clear: both;
  display: block;
  padding: 0 15px;
  max-width: 1040px;

  @include lg-screens {
    max-width: 960px;
  }

  @include md-screens {
    max-width: 720px;
  }
}
