// Sass Variables

$color-primary: #000;
$color-secondary: #00bdff;
$color-heading: #000;
$color-body: #000000;
$color-black: #000000;
$color-white: #ffffff;
$border-radius: 2px;

$font-heading: "Chakra Petch", sans-serif;

$font-body: "Jura", sans-serif;

$body-font-size: 14px;
